.navSpacer {
  height: 50px;
}

#blog {
  input {
    width: 100%;
    background: $secondary-color;
    border: none;
  }
  ul {
    li {
      .postDate {
        display: inline-block;
        width: 150px;
      }
      .postHead {
        display: inline-block;
        h3 {
          border-bottom: none;
          padding: 0;
          a {
            padding: 0 0 10px 0;
            border-bottom: 1px solid $secondary-color;
            display: block;
            &:hover {
              border-bottom: 1px solid lighten($secondary-color, 100%);
            }
          }
        }
        a {
          display: block;
        }
      }
    }
  }
}

#blogPost {
  min-height: calc(100vh - 80px);
  max-width: 850px;
  margin: 0 auto;
  padding: 5px;
  background: lighten($primary-color, 100%);
  color: black;
  text-align: left;
  h1, h2, h3, h4 {
    padding: 0 0 10px 0;
    margin: 10px 0;
    border-bottom: 3px solid $secondary-color;
  }
  h1 {
    font-size: 25px;
    padding: 10px 0;
  }
  h2 {
    display: inline-block;
    font-size: 20px;
  }
  h3 {
    display: inline-block;
    font-size: 18px;
  }
  h4 {
    display: inline-block;
    font-size: 16px;
  }
  hr {
    margin: 5px 0;
  }
  .blog_title, .blog_date {
    margin: 10px 0;
  }
  .blog_date {
    font-size: 15px;
    border: none;
    padding: 0;
    margin: 0;
  }
  .blog_title {
    padding: 5px 0;
    border: none;
  }
  .postTitle {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
  }
  p, li {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  a {
    display: inline-block;
    color: darken($secondary-color, 20%);
    background: lighten($primary-color, 95%);
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    border: 2px solid darken($secondary-color, 20%);
    &:hover {
      background: lighten($primary-color, 100%);
    }
  }
  .commentCount {
    display: block;
    text-align: center;
    background: lighten($primary-color, 100%);
    cursor: default;
  }
  table {
    border: 1px solid black;
    margin: 10px auto;
    th {
      text-align: center;
      // background: $secondary-color;
      font-weight: bold;

    }
    td, th {
      border: 1px solid lighten($primary-color, 80%);
      padding: 5px;
    }
  }
  .postTitle + div .highlight:first-of-type {
    word-break: normal;
    background-color: $secondary-color;
  }
  pre {
    margin: 10px 0;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
  .category {
  margin: 5px 0;
  span {
    background: $secondary-color;
    border-radius: 5px;
    padding: 5px;
    cursor: default;
    text-transform: uppercase;
  }
}
}

@media (max-width: 736px) {
  #blogIndex {
    background-image: none;
    background: lighten($primary-color, 100%);
    color: black;
  }
  #blogIndex ul li a {
    color: black;
  }
}
