<!-- Contact Section -->
<section id="contact">
  <div class="content">
    <h2>Contact</h2>
    <p>If you are interested in my work then please get in touch</p>
    <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </p>
    <ul>
      {% for network in site.social %}
      <li class="button">
        <a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
