<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}">

	<title>
		{% if page.layout == "post" %}
			{{ page.title }}
		{% elsif page.title %}
			{{ site.title }} | {{ page.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
	</title>

		<!-- Styles -->
		<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Muli:300,400,700" rel="stylesheet">
		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

		<!-- Javascript -->
		<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
		<script
		src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
		integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
		crossorigin="anonymous"></script>
		<script src="/assets/javascripts/lunr.min.js"></script>
		<script src="/assets/javascripts/search.js"></script>
		<script type="text/javascript" src="{{ "/assets/javascripts/main.js" | prepend: site.baseurl }}"></script>

	</head>
