@import "variables/colors";

header {
	background: url("../assets/images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.logoTitle {
		display: block;
		width: 100%;
	}

	h1 {
		display: block;
		font-size: 100px;
		letter-spacing: 5px;
		text-transform: uppercase;
		padding: 0;
		border: none;
		a {
			color: lighten($primary-color, 100%);
		}
	}
	h2 {
		color: white;
		font-size: 30px;
		padding: 0;
		border: none;
		text-transform: none;
	}
}
