#projects {
  background: lighten($primary-color, 100%);
  width: 100%;
  color: black;
  text-align: center;
  .projectContainer {
    display: block;
    width: 840px;
    height: auto;
    margin: 0 auto;
    .project {
      height: 300px;
      width: 400px;
      background: black;
      float: left;
      overflow: hidden;
      position: relative;
    }
    &:nth-child(3) .project, &:nth-child(5) .project {
      float: right;
    }

    .projectDescription {
      display: inline-block;
      width: 400px;
      height: 310px;
      overflow: hidden;
      h3 {
        margin: 10px;
      }
      p {
        font-size: 15px;
      }
      .fa-cloud, .fa-code {
        font-size: 3em;
        color: $primary-color;
        margin: 0 50px;
      }
    }
    &:last-child {
      .iconContainer {
        display: inline-block;
        width: 90px;
        vertical-align: top;
        .fa-cloud, .fa-code {
          margin: 0 10px;
        }
        p {
          color: grey;
          font-weight: 100;
        }
      }
    }

    .projectPhoto {
      height: 300px;
      width: auto;
      display: block;
      margin: 0 auto;
      margin-left: -100px;
      transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 870px) {
  #projects .projectContainer {
    width: auto;
    height: auto;
    .project, .projectDescription {
      width: 100%;
      height: auto;
    }
    .projectPhoto, .projectDescription {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
}
