#contact {
  text-align: center;
  clear: both;
}

#getInTouch {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  background: url(../assets/images/background-narrow.jpg) no-repeat center center fixed;
  background-color: $primary-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  h2 {
    border: none;
  }
}

@media(min-width: 767px) {
  section#contact {
    height: calc(100vh - 50px);
  }
}

@media(max-width:767px) {
  .getInTouch-section {
    padding: 100px 0;
    background-image: none;
    background: lighten($primary-color, 100%);
    color: black;
  }
  #contact {
    height: calc(100vh - 100px);
  }
  #getInTouch {
    display: none;
  }
}
