nav {
	position: fixed;
	width: 100vw;
	height: 50px;
	text-align: center;
	transition: background 1s;
	z-index: 1;
	ul {
		height: inherit;
		li {
			float: left;
			a {
				display: block;
				padding: 10px 20px;
				color: lighten($primary-color, 100%);
				font-family: $primary-font-stack;
				box-shadow: 0;
			}
		}
	}
	.leftNav {
		float: left;
	}
	.rightNav {
		float: right;
	}
	.middleNav {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		li {
			a, i {
				margin: 0 10px;
				color: lighten($primary-color, 100%);
			}
			i {
				font-size: 1.5em;
			}
		}
	}
}
