* {
	box-sizing: border-box;
}

::selection {
  background: $secondary-color; /* WebKit/Blink Browsers */
}

body {
	background: $primary-color;
	color: lighten($primary-color, 100%);
	font-family: $primary-font-stack;
	font-weight: 100;
	font-size: 1.1em;
	line-height: 1.6;
}

main {
	margin: 0 auto;
	section {
		width: 100%;
		padding: 30px 0;
		.content {
			max-width: 900px;
			margin: 0 auto;
		}
	}
}

time {
	color: lighten($primary-color, 60%);
}
