@import "foundation/foundation.min";

// Variables
@import "variables/colors";
@import "variables/fonts";

// Components
@import "components/header";
@import "components/content";
@import "components/map";
@import "components/save_the_date";
@import "components/footer";

body {
  background: lighten($light-color, 10%);
  font-family: $font-stack;
}
