$primary-color:         rgba(96, 153, 45,   1);
$primary-color-light:   rgba(140, 174, 104, 1);
$secondary-color:       rgba(217, 145, 186, 1);
$secondary-color-light: rgba(235, 185, 223, 1);
$background-color:      rgba(245, 213, 237, 1);
