.about-us {
  .proposal-photo {
    border-radius: 50%;
    margin: 10px;
  }
  .proposal-beach {
    position: relative;
    object-fit: cover;
    height: 200px;
    overflow: hidden;
    img {
      position: absolute;
      transform: translate(-50%, -40%)
    }
  }
}
