header {
  height: 100vh;
  background: url("background_image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  .menu {
    background: rgba(lighten($light-color, 20%), 0.5);
  }
  h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-family: $font-stack;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    margin: 0;
    color: lighten($light-color, 20%);
  }
}

@media only screen and (max-width: 500px) {

   header h1 {
      font-size: 60px;
   }

}
