.photos {
  .dropbox {
    display: inline-block;
    text-align: left;
    a {
      font-size: 25px;
      font-weight: 300;
    }
  }

  #slider {
    max-width: 900px;
    margin: 50px auto;
  }
}
