<div class="about-us">
  <div class="portrait">
    {% img proposal.jpg class:"proposal-photo" %}
  </div>
  
  <h2>About us</h2>

  <h4>First meet</h4>
  <p>We met in 2013 at the <a href="http://princesslouisepub.co.uk/" target="_blank">Princess Louise</a> pub in Holborn, London. It was love at first pint.</p>

  <h4>Engagement</h4>
  <p>After 4 happy years together, we got engaged on 26th August 2017 at <a href="http://visitcowal.co.uk/what-to-see-do/outdoor-activities/walking-routes/ostel-bay-kilbride-bay-beach-walk/" target="_blank">Ostel Bay</a>, near Tighnabuaich. This is pictured below, taken by Sam just after the proposal.</p>

  <h4>Travelling</h4>
  <p>We have been on many happy adventures together including Bordubet Turkey, Tighnabruaich, Ischia Italy, Gran Canaria, Whitslaid, Belmullet Ireland, and Wales</p>

  <h4>Hobbies</h4>
  <p>We have also had many television adventures together, and have discovered that we kindred spirits in our addiction.</p>

  <h4>Ambitions</h4>
  <p>Cora wants to save the world one property at a time thorugh the glorious UK planning system.</p>
  <p>Sam wants to take over the world one evil corporation at a time through the world wide web.</p>

  <div class="proposal-beach">
    {% img proposal-beach.jpg %}
  </div>
</div>
