<div class="about-us">
  <h2>About us</h2>
  <div class="text-section grid-x">
    <div class="about-us-text auto cell">
      <p>Our relationship began on eharmony. We have been going out for 4 years. Sam likes ..., Cora likes....</p>
      <p>Sam proposed to Cora on the 26th August 2017 at Ostel Bay, near Tighnabruary</p>
    </div>
    <div class="small-2 cell">
      {% img proposal.jpg class:"proposal-photo" %}
    </div>
  </div>

  <div class="proposal-beach">
    {% img proposal-beach.jpg %}
  </div>
</div>
