<!-- About Section -->
<section id="about">
  <div class="content">
    <h2>About Me</h2>
    <p>
      I was drawn to web development with a belief that with the right drive technically anything could be done.
    </p>
    <h3>Code beginnings</h3>
    <p>
      I began learning to code in early 2015. From what began as years of learning and using Microsoft Excel, I realised I was spending most of my time thinking about how to solve development problems.
    </p>
    <h3>General Assembly</h3>
    <p>
      I kickstarted my learning in development by attending the General Assembly 3 month Web Development Immersive program. It was a fantastic time in my life, I made great friends, produced some websites I'm proud of, and it significantly accellerated my code understanding and learning.
    </p>
    <h3>Code languages</h3>
    <p>
      I have learnt a multitude of coding languages and technologies, and this list continues to expand in order to keep up with new tech developments.
    </p>
    <h3>My favourite stack</h3>
    <p>
      The MEAN stack is my favourite to build with, however I have also produced a site with a Rails API and Angular on the front which was fun to work with.
    </p>
    <h3>What's next?</h3>
    <p>
      My next coding challenge is to learn ReactJS which is fast gaining popularity in the coding community. Potentially Angular2 will be on the learning list.
    </p>

    <ul>
      <li class="button">
        <a href="/about/">More about me</a>
      </li>
    </ul>
  </div>
</section>
