<h2>Meetups</h2>

<p>If you are staying for the weekend, and are having a meetup and would like to invite others, please feel free to post it in the comments section at the bottom of this page.</p>

<h3>WhatsApp</i></h3>

<p>We have created a WhatsApp group. Follow this link to join the group: <a href="https://chat.whatsapp.com/LNoy3aoVy8TEcJeOqGI6kZ" target="_blank">LINK</a></p>

<p>Cora is staying at Burt's Hotel in Melrose the night before the wedding, and will be down in the bar for some of the evening and would be happy to see you there.</p>
