<h2>The Wedding Party</h2>

<p>To help you identify the wedding party, they are listed below.</p>

<h3>Grooms Party 🤵</h3>

<p>Mother of the groom | Susie Younger</p>
<p>Father of the groom | Douglas Younger</p>
<p>Best man | Harry Younger</p>
<p>Chief groomsman | Nicholas Younger</p>
<p>Groomsman | Paul Steven</p>
<p>Groomsman | Alistair Robb</p>

<h3>Bridal Party 👰</h3>

<p>Mother of the bride | Sheila Barrett</p>
<p>Father of the bride | Gerry Barrett</p>
<p>Matron of Honour | Rachel Leharne-Sjoberg</p>
<p>Bridesmaid | Anne-Marie Barrett</p>
<p>Bridesmaid | Natasha Swan</p>

<h3>Flower Girl 🌸</h3>

<p>Hania Barrett</p>

<h3>Page Boys 📖</h3>

<p>Jack Galvoni</p>
<p>Olek Barrett</p>
