<div class="photos">
  <h2>Photos</h2>

  <p>Here are a few photos of our time together. Peruse at your leisure.</p>

  <p>There are two links below. The first visits my dropbox folder where you can view and download any photos located there. The second link is for you to upload any photos you wish of us in the past, present or ..... future? If you have any problems please get in touch with us, the more photos the merrier.</p>

  <div class="dropbox">
    <a href="https://www.dropbox.com/sh/r6hto4kousd3wvf/AACRYDC4z2_xp1lknq2EbKOHa?dl=0" target="_blank">
      <i class="fa fa-dropbox" aria-hidden="true"></i>
      view photos
    </a><br>
    <a href="https://www.dropbox.com/request/8IRO6m7DSCHPhthYwWNN" target="_blank">
      <i class="fa fa-dropbox" aria-hidden="true"></i>
      upload photos
    </a>
  </div>

</div>
