<div class="photos">
  <h2>Photos</h2>

  <p><a href="https://www.dropbox.com/sh/r6hto4kousd3wvf/AACRYDC4z2_xp1lknq2EbKOHa?dl=0" target="_blank">Here</a> are a few photos of our time together. Peruse at your leisure.</p>

  <p>There are two links below. The first visits a dropbox folder where you can view and download any photos located there.</p>

  <p>The second link is for you to upload any photos you wish of us in the past, present or ..... future? If you have any problems please get in touch with us, the more photos the merrier.</p>

<h3>🌟 ⭐️ Upload your own photos ⭐️ 🌟</h3>

  <p>There are a lot of people attending, and we can't be everywhere at once on the day. As such we would REALLY appreciate it 🙏 if you could upload your photos of the day so we can see what we missed.</p>

  <p>We will also upload our own photos taken by the professional photographers <a href="http://tubofjelly.co.uk/" target="_blank">Tub Of Jelly</a>, so take a look here a couple of months after the wedding if you wish to get your own copies.</p>

  <div class="dropbox">
    <a href="https://www.dropbox.com/sh/r6hto4kousd3wvf/AACRYDC4z2_xp1lknq2EbKOHa?dl=0" target="_blank">
      <i class="fab fa-dropbox"></i>
      view photos 📷
    </a><br>
    <a href="https://www.dropbox.com/request/8IRO6m7DSCHPhthYwWNN" target="_blank">
      <i class="fab fa-dropbox"></i>
      upload photos 🤳
    </a>
  </div>

</div>
