<!-- About Section -->
<section id="projects">
  <div class="content">
    <h2>Projects</h2>
    <div class="projectContainer">
      <div class="projectDescription">
        <h3>Politicat</h3>
        <p>
          A game where politicians fly across the screen. Inspired by Duck Hunt and Pokémon Go. The logic in jQuery moves the politician from point A to B on a randomizer function on the X/Y axis, and a loop detects for collisions between the fired object and the target.
        </p>
        <a href="https://github.com/samyounger/wdi-project-1" target="_blank"><i class="fa fa-code" aria-hidden="true"></i></a>
        <a href="https://politicat.herokuapp.com/" target="_blank"><i class="fa fa-cloud" aria-hidden="true"></i></a>
      </div>
      <div class="project">
        <img class="projectPhoto" src="assets/images/project1.jpg" alt="" />
      </div>
    </div>
    <div class="projectContainer">
      <div class="projectDescription">
        <h3>Barpleeze</h3>
        <p>
          A site where users can view bars located nearby using the Google Maps and Google Places APIs. The bars are displayed on the map with markers, and on clicking an info-window appears with photos, contact details, rating, and reviews.
        </p>
        <a href="https://github.com/samyounger/wdi-project-2" target="_blank"><i class="fa fa-code" aria-hidden="true"></i></a>
        <a href="https://barpleeze.herokuapp.com/" target="_blank"><i class="fa fa-cloud" aria-hidden="true"></i></a>
      </div>
      <div class="project">
        <img class="projectPhoto" src="assets/images/project2.jpg" alt="" />
      </div>
    </div>
    <div class="projectContainer">
      <div class="projectDescription">
        <h3>Novelists</h3>
        <p>
          This site uses photos from the Unsplash API to inspire collaborative novels. Each novel has a total entry limit of 5, and each entry has a limit of 200 words. Once a novelist has created a story and written the first paragraph, another user must enter the next paragraph.
        </p>
        <a href="https://github.com/samyounger/wdi-project-3" target="_blank"><i class="fa fa-code" aria-hidden="true"></i></a>
        <a href="https://novelists.herokuapp.com/" target="_blank"><i class="fa fa-cloud" aria-hidden="true"></i></a>
      </div>
      <div class="project">
        <img class="projectPhoto" src="assets/images/project3.jpg" alt="" />
      </div>
    </div>
    <div class="projectContainer">
      <div class="projectDescription">
        <h3>BodhiNomad</h3>
        <p>
          An investment management application which retrieves live market data from Google Finance, historic chart price data from Quandl, and exchange & epic codes from Markit. Users can place virtual trades with comments, view their historic trades, and portfolio summary.
        </p>
        <div class="iconContainer">
          <a href="https://github.com/samyounger/wdi-project-4-api" target="_blank"><i class="fa fa-code" aria-hidden="true"></i></a>
          <p class="code-description">API</p>
        </div>
        <div class="iconContainer">
        <a href="https://github.com/samyounger/wdi-project-4-frontend" target="_blank"><i class="fa fa-code" aria-hidden="true"></i></a>
        <p class="code-description">Front-end</p>
        </div>
        <div class="iconContainer">
          <a href="https://bodhinomad.herokuapp.com/" target="_blank"><i class="fa fa-cloud" aria-hidden="true"></i></a>
        </div>

      </div>
      <div class="project">
        <img class="projectPhoto" src="assets/images/project4.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
