<div class="save-the-date">

  <h2>Save the date</h2>

  <p>We would love you to come to our wedding. Please enter your details below so we have an idea of who is coming and numbers</p>

  <h2 class="form-reveal sliding-middle-out">
    <i class="fa fa-hand-o-right" aria-hidden="true"></i>
    Click here to reveal form
    <i class="fa fa-hand-o-left" aria-hidden="true"></i>
  </h2>
  <div class="rsvp-form">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdVr-6TI3nYACSuOqB4tcJoVc6nU5XRqJCo5GA6WGf4OYK1ew/viewform?embedded=true" width="100%" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>

</div>
