<div class="save-the-date">

  <h2>Save the date</h2>

  <p>We would love you to come to our wedding. Please enter your details below so we have an idea of who is coming and numbers</p>

  <ul>
    <li>Your name</li>
    <li>Your +1 name</li>
    <li>children attending names & age</li>
    <li>email</li>
    <li>address</li>
  </ul>


  <form>
    <div class="grid-x">
      <div class="medium-6 cell">
        <label>Your name
          <input type="text" placeholder="Name">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Plus one name
          <input type="text" placeholder="+1 name">
        </label>
      </div>
      <div class="cell">
        <label>Email
          <input type="text" placeholder="E-mail">
        </label>
      </div>
      <div class="address small-3 cell">
        <input type="text" placeholder="Address line 1">
        <input type="text" placeholder="Address line 2">
        <input type="text" placeholder="Address line 3">
        <input type="text" placeholder="Address line 4">
        <input type="text" placeholder="Address line 5">
        <input type="text" placeholder="Postcode">
      </div>
      <div class="children medium-6 cell">
        <input type="text" placeholder="Child name">
        <input type="text" placeholder="Child name">
        <input type="text" placeholder="Child name">
        <input type="text" placeholder="Child name">
      </div>
      <div class="cell">
        <input type="submit" class="button" value="Submit">
      </div>
    </div>
  </form>

</div>
