<div class="save-the-date">

  <div>
    <h2>Save the date</h2>
    <h3>11th August 2018</h3>
  </div>

  <p>We would love you to come to our wedding at Whitslaid Farm. In order to make sure your invitation is sent to the right place, please leave your details below. Invitations will be sent out in 2018.</p>

  <h3 class="form-reveal sliding-middle-out">
    <i class="fa fa-hand-o-right" aria-hidden="true"></i>
    REPLY
    <i class="fa fa-hand-o-left" aria-hidden="true"></i>
  </h3>
  <div class="rsvp-form">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdVr-6TI3nYACSuOqB4tcJoVc6nU5XRqJCo5GA6WGf4OYK1ew/viewform?embedded=true" width="100%" height="1230" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>

</div>
