<h2>Transport</h2>

<h3>Buses 🚌</h3>

<p>We have hired one large bus to take people from the church to the reception, and back to Melrose at 12:30am. For those of you that have selected the bus for transport, we will ensure there will be a bus big enough to take you all.</p>

<h3>Trains 🚂</h3>

<p>If you want to visit Edinburgh, there is a train that leaves from Tweedback, which is about a 30 minute walk West of Melrose.</p>

<h3>Cars 🚙</h3>

<p>There are plenty of parking spaces around Melrose on street. At Whitslaid there will be a designated parking area near the tent.</p>

<h3>Taxis 🚕</h3>

<p>For those of you coming from the city, please bear in mind that there is no Uber. We have fallen foul of this before and been stuck in the middle of nowhere. As such, if you are planning on getting a taxi home at night, we advise you book this in advance of the day. Looking at Google there are a few taxi firms in and around Melrose</p>

<h4>Melrose Taxis</h4>

<p>Jim's Taxi | 07974 826826</p>
<p>Ace Taxi Cabs | 07929 232923</p>
<p>Melrose Taxi | 07729 499799</p>

<h4>Lauder Taxis</h4>

<p>E & J | 01578 722 441</p>

<h4>Earlston Taxis</h4>

<p>Dodd's | 07561 413523</p>

<p>There are plenty of cabs around, if all of these are booked up, then take a look at the <a href="https://www.yell.com/s/taxis+and+private+hire+vehicles-lauder.html" target="_blank">Yellow Pages</a></p>
