<h2>Where to stay?</h2>

<p>We want to make it as easy as possible for you to get around on the day. As such buses will be booked to transport you from the Melrose Church to Whitslaid, and back in the evening.</p>

<p>We would prefer everyone to book in <a href="https://www.visitscotland.com/info/towns-villages/melrose-p242311" target="_blank">Melrose</a> to make your transport most convenient to the Church, to Whitslaid and back. If you prefer to use your own transport feel free to book wherever you like.</p>

<p>Here are some links to hotels in Melrose:</p>

<div class="hotels">
  <h4><a href="http://www.booking.com/Share-RywuxK" target="_blank">George & Abbotsford Hotel</a></h4>
  <h4><a href="http://www.booking.com/Share-NeAD7W" target="_blank">Station Hotel & Restaurant</a></h4>
  <h4><a href="http://www.booking.com/Share-AkcI0A" target="_blank">Fauhope Country House</a></h4>
  <h4><a href="https://uk.hotels.com/ho465647/" target="_blank">The Kings Arms Hotel</a></h4>
  <h4><a href="http://www.bayhotels.co.uk/our-hotels/bay-waverley-castle-hotel-melrose">The Waverley Castle Hotel</a></h4>
  <h4><a href="http://www.burtshotel.co.uk/" target="_blank">Burts Hotel - Sold out</a></h4>
</div>

<p>There are also many <a href="https://www.airbnb.co.uk/s/Melrose--Scotland/homes" target="_blank">Airbnb</a> places to stay in Melrose that look lovely.</p>
