<h2>Where is it?</h2>

<h3>The church</h3>

<p>The wedding ceremony will be at 2pm at the <a href="http://www.holytrinitymelrose.org.uk/" target="_blank">Holy Trinity Church</a>. We will be singing hymns, so ensure you practice, you know who you are 👀.</p>

<address>
  <p>The Holy Trinity Church</p>
  <p>20 High Cross Avenue</p>
  <p>Melrose</p>
  <p>TD6 9SU</p>
</address>

<h3>The reception 🥂</h3>

<p>Drinks and canapes will be served on arrival. Dinner will be called at 5:30pm followed by dancing and revelry. Carriages will be at 12:30am.</p>

<address>
  <p>Whitslaid Farm</p>
  <p>Lauder</p>
  <p>Berwickshire</p>
  <p>TD2 6RZ</p>
</address>

<h4>Dancing 💃</h4>

<p>We have a Scottish reels band playing (the pianist is Sam's very own cousin Geordie Douglas-Hamilton), for maximum fun we recommend you do a little practice before hand, reels are best done at speed. However the band will be calling out instructions before each reel. They will likely be:</p>

<p><a href="https://www.youtube.com/watch?v=Wm_5l_bs-6Y" target="_blank">Dashing white sergeant</a></p>
<p><a href="https://www.youtube.com/watch?v=4QyoSIQocKI&t=20s" target="_blank">Gay gordons</a></p>
<p><a href="https://www.youtube.com/watch?v=vboU2A59POs" target="_blank">Strip the willow</a></p>
<p><a href="https://www.youtube.com/watch?v=SZI9iWZ52Vk" target="_blank">Eightsome reel</a></p>

<div id="map"></div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzClcIiPp8r9pe0GSvllBjnieGvU5JZOI&callback=initMap">
</script>
