section#reading {
  .sourceReading {
    .read {
      margin: 5px 0;
      border-bottom: 1px solid $secondary-color;
      padding: 5px 0;
      &:last-child {
        border: none;
      }
    }
  }
}
